a {
  text-decoration: none;
  display: block;

}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
  border: none;
  line-height: none;
  background-color: transparent;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}


body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

/* ------------container----------------------------------------- */

.container {
  margin: 0 auto;
  max-height: 90px;
  position: relative;
  overflow: hidden;
}

/* ----------------/container--------------------------------------- */

.banner__wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.banner {
  background-color: #283693;
  position: relative;
}

.is-close {
  transform: translateY(130%);
  transition: transform 500ms;
}

.banner__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 6px;

  background-image: url(../img/svg/dots.svg), url(../img/svg/waves.svg), url(../img/svg/+.svg), url(../img/svg/Ellipse.svg);
  background-repeat: no-repeat;
  background-position: right -19px top -17px, bottom 8px left 40px, top 3px left 118px, bottom 3px right 80px;
  background-size: 37px 35px, 88px 30px, 12px, 23px;
}

.btn__close {
  position: absolute;
  bottom: 100%;
  right: 0px;

  width: 1.30rem;
  height: 1.30rem;

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background-color: #7f8ad323;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------animation-img------------------------------------------ */

.banner__img {
  padding: 5px 0;

  animation-name: sneakers;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;

}

@keyframes sneakers {
  0% {
    transform: translateY(0%);
  }

  15% {
    transform: translateY(-118%);
    visibility: hidden;
  }

  30% {
    transform: translateY(100%);
    visibility: hidden;
  }

  50% {
    transform: translateY(0%);
  }
}

.banner__img_hidden {
  position: absolute;
  top: -5px;
  left: 5px;

  transform: translateY(100%);

  animation-name: shopping;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;

}

@keyframes shopping {
  0% {
    transform: translateY(100%);
  }

  25% {
    transform: translateY(0%);

  }

  50% {
    transform: translateY(-118%);
    visibility: hidden;
  }

  100% {
    transform: translateY(100%);
    visibility: hidden;
  }
}

/* ---------/animation-img------------------------------------------ */

/* ---------animation-text------------------------------------------ */

.content {
  min-width: 130px;
  max-height: 150px;
  text-align: center;
  text-wrap: nowrap;
}

.content__text {
  animation-name: title;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
}

@keyframes title {
  0% {
    transform: translateY(0%);
  }

  15% {
    transform: translateY(200%);
    visibility: hidden;
  }

  30% {
    transform: translateY(-200%);
    visibility: hidden;
  }

  50% {
    transform: translateY(0%);
  }
}

.wrapper__content {
  position: relative;
}

.content__text_hidden {
  position: absolute;
  top: -50px;
  left: 0%;

  animation-name: title-hidden;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;

}

@keyframes title-hidden {
  0% {
    transform: translateY(-100%);

  }

  25% {
    transform: translateY(115%);

  }

  50% {
    transform: translateY(400%);
    visibility: hidden;
  }

  100% {
    transform: translateY(-100%);
    visibility: hidden;
  }
}

/* ---------/animation-text------------------------------------------ */

.banner__btn {
  max-width: 67px;
  text-align: center;
  line-height: 17.64px;
  color: #283693;
  letter-spacing: 0.92px;
  text-transform: uppercase;
  padding: 5px 0px;
  background-color: #fff;
  font-size: 19px;
  border-radius: 10px;

  animation: flicker 2s ease-in-out 2s infinite both;
}

@keyframes flicker {

  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }

  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }

  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }

  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }

  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }

}

.content__title {
  color: #ffc400;
  font-style: italic;
  font-size: 27px;
  line-height: calc(16 / 24);
  letter-spacing: 0.56px;
  margin-right: 10px;
}

.content__sub-title {
  font-size: 12px;
  line-height: calc(18 / 12);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.22px;
  margin-top: 5px;
}

/* ----------Mob--------------------------------------- */

@media (min-width: 768px) {
  .container {
    min-width: 751px;
    padding-left: 43px;
    padding-right: 34px;
  }

  .content__title {
    font-size: 48px;
    line-height: 29.02px;
    margin-right: 0;
    margin-left: 20px;
  }

  .content__sub-title {
    font-size: 21px;
    margin-top: 15px;
    line-height: 1;
  }

  .banner__btn {
    max-width: 200px;
    padding: 10px 20px;
    border-radius: 20px;

    font-size: 28px;
  }

  .banner__container {
    background-position: right -15px center, bottom 3px left 110px, top 5px left 240px, bottom 9px right 197px;
    background-size: 44px, 110px 37px, 30px, 27px;
  }

  .content__text {
    width: 234px;
  }

  .banner__img_hidden {
    top: -45px;
    left: 40px;
  }

  @keyframes title-hidden {
    0% {
      transform: translateY(-90%);

    }

    25% {
      transform: translateY(75%);

    }

    50% {
      transform: translateY(400%);
      visibility: hidden;
    }

    100% {
      transform: translateY(-100%);
      visibility: hidden;
    }
  }
}

@media (min-width: 1024px) {
  .container {
    width: 980px;

    padding-left: 100px;
    padding-right: 70px;
  }

  .banner__img_hidden {
    top: -45px;
    left: 100px;
  }

  .banner::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;

    transform: translateY(-50%);

    width: 44px;
    height: 44px;

    background-image: url(../img/svg/dots.svg);
    background-repeat: no-repeat;

    background-size: 44px;
  }

  .banner__container {
    background-position: right -15px center, bottom 3px left 165px, top 5px left 320px, bottom 10px right 280px;
    background-size: 0px, 110px 37px, 30px, 27px;
  }

  .banner__btn {
    padding: 10px 22px;
    border-radius: 20px;

    font-size: 25px;
  }

  .banner__btn::before {
    bottom: -25px;
    left: -50px;
    content: '';
  }
}

@media (min-width: 1080px) {
  .banner::after {
    background-size: 0px;
  }

  .container::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;

    transform: translateY(-50%);

    width: 44px;
    height: 44px;

    background-image: url(../img/svg/dots.svg);
    background-repeat: no-repeat;

    background-size: 44px;
  }
}